.introduction{
    width:100vw;
    height: 580px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.introduction__photo{
  width: 480px;
  height: 580px;
}
.introduction__box{
    width: 770px;
    padding: 183px 52px 168px 192px;
    background-color: #f26363;
 
}


.introduction__description{
    width:680px;
    display:flex;
    justify-content: space-between;
}

.introduction__title{
    line-height:0;
    font-family: Montserrat;
    font-size:54px;
    font-weight: bolder;
    color:white;
    letter-spacing: -0.29px;

}
.introduction__sub-title{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -0.32px;

}
.introduction__sub-text{
    padding-top:3rem;
    font-size:16px;
    font-weight: normal;
}

.introduction__links{
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.introduction__links img{
        width:2rem;
        filter:invert(100%);
}